# Top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

# Go files
[*.go]
indent_style = tab
indent_size = 4

# Go mod and sum files
[go.mod]
indent_style = tab
indent_size = 4

[go.sum]
indent_style = tab
indent_size = 4

# Markdown files
[*.md]
trim_trailing_whitespace = false